.characters_container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 20px 60px 20px;
  .characters__main__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 463px) {
      justify-content: center;
    }
  }
  .characters__heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    h2 {
      font-size: 28px;
      font-weight: 700;

      @media (max-width: 720px) {
        margin-bottom: 20px;
      }
    }
    @media (max-width: 720px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .pagination-buttons {
    display: flex;
    justify-content: center;
    button {
      padding: 10px 15px;
      margin-left: 25px;
      border-radius: 3px;
      cursor: pointer;
    }
    button:disabled {
      cursor: not-allowed;
    }
    .previous {
      background-color: #f1f1f1;
      color: black;
    }

    .next {
      background-color: #04aa6d;
      color: white;
    }
  }
  .character-wrapper {
    border: 1px solid #d3d3d2;
    border-radius: 8px;
    width: 220px;
    min-height: 420px;
    position: relative;
    margin: 0px 5px 20px 5px;

    .characters__card__image-wrapper {
      height: 220px;
      width: 100%;
    }

    img {
      max-width: 100%;
      border-radius: 8px 8px 0px 0px;
    }
    .characters__card__text-wrapper {
      padding: 20px;
      position: relative;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    h4 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      padding-bottom: 6px;
    }
    button {
      bottom: 20px;
      left: 20px;
      position: absolute;
      bottom: 20px;
      height: 30px;
      width: 85%;
      border-radius: 5px;
      border: 1px solid #57bd38;
      cursor: pointer;
      &:hover {
        background: #57bd38;
        color: #ffffff;
      }
    }

    @media (max-width: 463px) {
      width: 64%;
      min-height: 480px;
      .characters__card__image-wrapper {
        height: auto;
      }
    }
    @media (max-width: 385px) {
      width: 78%;
    }
  }
}
